In [1]:
# Liam's script for looking at basic info about the data
import pandas as pd
import numpy as np
import os
import accessDB as db

In [2]:
# Read raw data in
df = db.filter(doGeoLoc=True)

In [3]:
# Number of rows
len(df.index)

323792

In [4]:
# Number of unique call numbers
len(df['Call Number'].unique())

240837

In [5]:
# Number of rows containing missing data
len(df[df.isnull().any(axis=1)].index)

131529

In [6]:
# Number of addresses not containing "MKE"
len(df[df['Location'].str.contains('MKE') == False])

7780

In [7]:
# Number of unique locations
len(df['Location'].value_counts())

73563

In [8]:
# Top 10 locations (police stations etc)
df['Location'].value_counts().head(10)

2333 N 49TH ST,MKE              8310
3626 W FOND DU LAC AV,MKE       6992
749 W STATE ST,MKE              6929
245 W LINCOLN AV,MKE            6593
2920 N VEL R PHILLIPS AV,MKE    6112
6929 W SILVER SPRING DR,MKE     5898
3006 S 27TH ST,MKE              5395
6680 N TEUTONIA AV,MKE          2267
4715 W VLIET ST,MKE             1819
949 N 9TH ST,MKE                1437
Name: Location, dtype: int64

In [9]:
# Number of instances of each nature
df['Nature of Call'].value_counts().head(10)

BUSINESS CHECK     32697
TRAFFIC STOP       30986
TRBL W/SUBJ        18571
RETURN STATION     17292
FOLLOW UP          12033
PATROL             10170
REPORTS             9150
WELFARE CITIZEN     9005
INVESTIGATION       8040
ACC PDO             8018
Name: Nature of Call, dtype: int64

In [10]:
# Number of instances of each status
df['Status'].value_counts()

Service in Progress              113582
Assignment Completed             105210
Advised                           48768
Unable to Locate Complainant      23740
To be Filed                       11914
City Citation(s) Issued            9774
Advised/Referral                   6318
Open Investigation                 3148
No Prosecution                      368
Cleared by Arrest                   345
False Alarm                         235
Filed Driver Exchange Report        215
Referral                             91
Patrol Request                       69
State Citation(s) Issued              8
False Alarm (Weather Related)         6
Ordered to Appear                     1
Name: Status, dtype: int64

In [11]:
# Number of instances of each police district
df['Police District'].value_counts()

7       58868
3       54013
5       48769
4       45367
2       43597
6       35856
1       35019
SPD       681
CITY      652
OCOE      473
?         263
OUT       136
SCD        33
DPR        30
ICS3        9
CIB         9
FI          5
SID         3
NLA         3
NTF         2
TEU         2
ICS1        2
Name: Police District, dtype: int64

In [12]:
# Items with NLA police district (example)
df[df['Police District'] == 'NLA']

,Call Number,Date/Time,Location,Police District,Nature of Call,Status,Latitude,Longitude
ID,,,,,,,,
182682688-Service in Progress,182682688,2018-09-25 21:17:22,"6500-BLK S 27TH, FRANKLIN",NLA,SPECIAL ASSIGN,Service in Progress,NaN,NaN
183020910-Service in Progress,183020910,2018-10-29 10:56:08,3128 GRAYDON AVE - EAST TROY WI,NLA,INVESTIGATION,Service in Progress,43.0113,-87.9584
183542300-Advised,183542300,2018-12-20 18:25:54,"HAMPTON AT I43, MILWAUKEE, WI",NLA,TRAFFIC STOP,Advised,NaN,NaN

In [13]:
# Items originating from false alarms (example)
df[df['Status'] == 'False Alarm (Weather Related)']

,Call Number,Date/Time,Location,Police District,Nature of Call,Status,Latitude,Longitude
ID,,,,,,,,
182551924-False Alarm (Weather Related),182551924,2018-09-12 16:35:18,"3522 W LISBON AV,MKE",3,HOLDUP ALARM,False Alarm (Weather Related),NaN,NaN
182640245-False Alarm (Weather Related),182640245,2018-09-21 02:33:15,"2620 W WISCONSIN AV,MKE",3,MPD MON ALARM,False Alarm (Weather Related),43.0391,-87.947
182770332-False Alarm (Weather Related),182770332,2018-10-04 03:44:38,"5135 W HASSEL LA,MKE",4,ENTRY,False Alarm (Weather Related),43.1381,-87.9766
182840307-False Alarm (Weather Related),182840307,2018-10-11 03:02:23,"1301 N 12TH ST,MKE",3,BURG/AUD GOVT,False Alarm (Weather Related),43.0473,-87.9275
183641927-False Alarm (Weather Related),183641927,2018-12-30 18:27:18,"2333 N 49TH ST,MKE",3,RETURN STATION,False Alarm (Weather Related),43.0614,-87.9755
190190621-False Alarm (Weather Related),190190621,2019-01-19 08:55:14,"225 W GREENFIELD AV,MKE",2,BURG/AUD BUSINES,False Alarm (Weather Related),NaN,NaN

In [14]:
pd.DataFrame(df['Nature of Call'].unique()).to_csv('natures.csv')

In [15]:
addrDict = {'Location': df['Location'].unique(), 'Cleaned Location': '', 'Latitude': '', 'Longitude': ''}
pd.DataFrame(addrDict).set_index(['Location']).to_csv('addresses.csv')